@import './heared';
@import './areas';
@import './overlays';
@import './titles';
@import './menu';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::after, ::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lemonada', cursive;
}

[hidden] {
  display: none !important;
}

.container {
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@import './media';